export(ensemble, beetle_sim, likelihood)
export(	warning_signals, plot.warning_signals,
		numeric_V, analytic_V, warning_model, OU.lik, warning.lik, setOU,
		linnoise, linear_noise_approx,
		beetles_ibm, crowley_ibm, metapop_ibm, gamma_beetles_ibm, saddle_node_ibm,
		crowley_example,
		b_crowley, d_crowley, J_crowley, T_crowley,
		metapop_example, 
		b_meta, d_meta, J_meta, T_meta,
		beetles_example, 
		b_gamma, d_gamma, J_gamma, T_gamma,
		b_beetles, d_beetles, J_beetles, T_beetles,
		b_beetles_one, d_beetles_one, J_beetles_one, T_beetles_one,
		plot_means, plot_stdev, plot_covar, plot_stdev_div_mean,
		collapse_gamma_classes)


export( update.OU, update.warning, update.changePt, simulate.OU, simulate.warning, simulate.changePt, bootstrap, plot_bootstrap, bootstrapLR, LRplot, power_test, power_pair)

useDynLib(stochPop)
import(snowfall)
import(NORMT3)
import(sde)
import(Kendall)
import(odesolve)



