export(ensemble, beetle_sim, likelihood)
export(	warning_signals, plot.warning_signals,
		numeric_V, analytic_V, warning_model, OU.lik, warning.lik, setOU,
		linnoise, linear_noise_approx,
		beetles_ibm, crowley_ibm, metapop_ibm, gamma_beetles_ibm,
		crowley_example,
		b_crowley, d_crowley, J_crowley, T_crowley,
		metapop_example, 
		b_meta, d_meta, J_meta, T_meta,
		beetles_example, 
		b_beetles, d_beetles, J_beetles, T_beetles
)
useDynLib(stochPop)

