# functions in sde_likelihood.R
export( update.OU, update.warning, update.changePt, simulate.OU, simulate.warning, simulate.changePt, bootstrap, plot_bootstrap, bootstrapLR, LRplot, power_test, power_pair)

# functions in gaussian_processes.R
# note that still needs the generics
export(getParameters.gauss, loglik.gauss, update.gauss, simulate.gauss, updateGauss, simulateGauss, lik.gauss, pc.gauss, dc.gauss, rc.gauss, init_gauss, loglik_calc.gauss)

# functions in likelihood_bifur_models.R
export(setLSN, setLTC, R, const_R, timedep_LTC, timedep_LSN, const_LTC, const_LSN, constOU)
## doesn't export quadratic saddlenode functions


## indicators.R
export(window_mean, window_var, window_skew, window_kurtosi, warning_stats, window_autocorr, window_ar.ols, show_stats, compute_indicator, plot_indicator, compute_tau, all_indicators)

## tau_dist_montecarlo.R
export(tau_dist_montecarlo, plot.tau_dist_montecarlo, plot_kendalls, plot_sample)

## montecarlotest.R
export(montecarlotest, loglik, getParameters, plot.pow, KL_divergence)

## bootstrap_indicators.R
export(fit_models, bootstrap_tau, plot.bootstrap_tau) 


## dakos_data.R
export(dakos_data_processing, plot.dakos)
#export(heteroOU)


export(saddle_node_ibm)

useDynLib(warningsignals)
